

<div class="inner">
    <div class="row">
        <div class="col-lg-12">
            <h1> Log in </h1>
        </div>
    </div>
    <hr />

        <div id="login" class="tab-pane active">
            <form action="/login" method="POST" class="form-signin">

                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4">
                        <div class="form-group " id="main_userNameDiv">
                            <label class="control-label has-success text-center">Enter your Username and Password</label>
                        </div>
                    </div>
                </div>

                <!-- Username Field -->
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="userName" name="userName"
                                   placeholder="Enter your User name"  />
                        </div>
                    </div>
                </div>

                <!-- Password Field -->
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-3">
                        <div class="form-group ">

                            <input type="password" id="password" name="password" placeholder="Enter your Password" class="form-control" />
                        </div>
                    </div>
                </div>

                <!-- Forget Password and Login Field -->
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-3">
                        <a class="btn btn-danger" href="/forgetPassword"> Forget Your Password</a>
                        <input type="submit" id="submitBtn" value="Login" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
</div>
