
<!-- PAGE LEVEL STYLES -->
<link rel="stylesheet" href="/plugins/validationengine/css/validationEngine.jquery.css" />
<!-- END PAGE LEVEL  STYLES -->


<div class="inner">
    <div class="row">
        <div class="col-lg-12">
            <h1> Add new Course </h1>
        </div>
    </div>
    <hr />

    <form action="/courses/new" class="form-horizontal" id="inline-validate" method="post">
        <div class="box">
            <header>
                <h5>Course Info</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li>
                            <div class="btn-group">
                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse"
                                   href="#mainInfoCollapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <div id="mainInfoCollapse" class="accordion-body collapse in body">

                <!-- Course Name Field -->
                <div class="form-group" id="main_courseNameDiv">
                    <label class="control-label col-lg-2">Course name *</label>

                    <div class="col-lg-6" id="userNameDiv">
                        <input type="text" id="courseName" name="courseName" placeholder="Enter the Course Name" class="form-control" />

                    </div>
                </div>

                <!-- Course Period Field -->
                <div class="form-group" id="main_coursePeriodDiv">
                    <label class="control-label col-lg-2">Course Period *</label>

                    <div class="col-lg-3" id="userPeriodDiv">
                        <input type="text" id="coursePeriod" name="coursePeriod" placeholder="Enter the Course Period (in hour)" class="form-control" />

                    </div>
                </div>

                <!-- Course Level Field -->
                <div class="form-group" id="main_courseLevelDiv">
                    <label class="control-label col-lg-2">Course Level *</label>
                    <div class="col-lg-3" id="courseLevelDiv">
                        <select name="courseLevel" placeholder="Choose the Course Level" id="courseLevel" class="form-control">
                            <option value="" disabled selected>Select the Course Level</option>
                            {{#each courseLevel}}
                                <option value="{{value}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <!-- Course Type Field -->
                <div class="form-group" id="main_courseTypeDiv">
                    <label class="control-label col-lg-2">Course Type *</label>
                    <div class="col-lg-3" id="courseTypeDiv">
                        <select name="courseType" placeholder="Choose the Course Type" id="courseType" class="form-control">
                            <option value="" disabled selected>Select the Course Type</option>
                            {{#each courseType}}
                                <option value="{{value}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <!-- Youtube Playlist Field -->
                <div class="form-group" id="main_youTubePlayListDiv">
                    <label class="control-label col-lg-2">Youtube Playlist *</label>

                    <div class="col-lg-6" id="youTubePlayListDiv">
                        <input type="text" id="youTubePlayList" name="youTubePlayList" placeholder="Enter the Youtube Playlist" class="form-control" />

                    </div>
                </div>

                <!-- Course Objective Field -->
                <div class="form-group" id="main_courseObjectiveDiv">
                    <label class="control-label col-lg-2">Course Objective *</label>

                    <div class="col-lg-6" id="courseObjectiveDiv">
                        <input type="text" id="courseObjective" name="courseObjective" placeholder="Enter the Course Objective" class="form-control" />

                    </div>
                </div>

                <!-- Course Pre-Requisite Field -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" id="main_courseObjectiveDiv">
                            <label class="control-label">Course Objective *</label>
                            <input type="text" class="form-control"  id="courseObjective" name="courseObjective"
                                   placeholder="Enter the Course Objective" />

                        </div>
                    </div>
                </div>

                <div class="row">
            <div class="col-lg-4">
                <div class="form-actions" style="text-align:center">
                    <input type="submit" id="submitBtn" value="Sign Up" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </div>
            </div>
        </div>
    </form>
</div>


<!-- PAGE LEVEL SCRIPTS -->
<!--<script src="/js/formValidation.js"></script>-->
<!--<script> $(function () { checkUserExist(); });   </script>-->
<!--END PAGE LEVEL SCRIPTS -->