
<!-- PAGE LEVEL STYLES -->
<link rel="stylesheet" href="/plugins/validationengine/css/validationEngine.jquery.css" />
<!-- END PAGE LEVEL  STYLES -->


<div class="inner">
    <div class="row">
        <div class="col-lg-12">
            <h1> Add new Chapter </h1>
        </div>
    </div>
    <hr />

    <form action="/admin/chapter/{{courseID}}/new" class="form-horizontal" id="inline-validate" method="post">
        <div class="box">
            <header>
                <h5>Chapter Info</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li>
                            <div class="btn-group">
                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse"
                                   href="#mainInfoCollapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <div id="mainInfoCollapse" class="accordion-body collapse in body">

                <!-- Chapter Name Field -->
                <div class="form-group" id="main_chapterNameDiv">
                    <label class="control-label col-lg-2">Chapter name *</label>

                    <div class="col-lg-6">
                        <input type="text" id="chapterName" name="chapterName" placeholder="Enter the Chapter Name" class="form-control" />

                    </div>
                </div>

                <!-- Chapter Period Field -->
                <div class="form-group" id="main_chapterPeriodDiv">
                    <label class="control-label col-lg-2">Chapter Period *</label>

                    <div class="col-lg-3">
                        <input type="number" id="chapterPeriod" name="chapterPeriod" placeholder="Enter the Chapter Period (in hour)" class="form-control" />

                    </div>
                </div>

                <!-- Chapter Description Field -->
                <div class="form-group" id="main_chapterDescriptionDiv">
                    <label class="control-label col-lg-2">Chapter Description: </label>

                    <div class="col-lg-7">
                        <textarea id="description" class="form-control" name="chapterDescription" style="overflow: hidden;
                                word-wrap: break-word; resize: horizontal; height: 174px;"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chapter Objective Fields -->
        <div class="box">
            <header>
                <h5>Chapter Objectives</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li>
                            <div class="btn-group">
                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse"
                                   href="#chapterObjectiveCollapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <div id="chapterObjectiveCollapse" class="accordion-body collapse in body">

                <div class="form-group" id="main_chapterObjective1Div">
                    <label class="control-label col-lg-1">1</label>

                    <div class="col-lg-7" id="chapterObjectiveDiv">
                        <input type="text" id="chapterObjective" name="chapterObjective"
                               placeholder="Enter the Chapter Objective" class="form-control" />
                    </div>

                    <div class="col-lg-1">
                        <button type="button" class="btn btn-success btn-circle" onclick="addNewChapterObjective()">
                            <i class="icon-plus"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Chapter Pre-Requisite Field -->
        <div class="box">
            <header>
                <h5>Chapter Pre-Requisite</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li>
                            <div class="btn-group">
                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse"
                                   href="#chapterPreRequisiteCollapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <div id="chapterPreRequisiteCollapse" class="accordion-body collapse in body">
                <div class="form-group" id="main_chapterPreRequisite1Div">
                    <label class="control-label col-lg-1">1</label>

                    <div class="col-lg-3" id="chapterPreRequisiteNameDiv">
                        <input type="text" class="form-control" id="chapterPreRequisiteName"
                               name="chapterPreRequisiteName" placeholder="Enter the Name" />
                    </div>

                    <div class="col-lg-5" id="chapterPreRequisiteURLDiv">
                        <input type="text" class="form-control" id="chapterPreRequisiteURL"
                               name="chapterPreRequisiteURL" placeholder="Enter the URL" />
                    </div>

                    <div class="col-lg-1">
                        <button type="button" class="btn btn-success btn-circle" onclick="addNewChapterPreRequisite()">
                            <i class="icon-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-5 col-lg-4">
                <div class="form-group">
                    <input type="submit" id="submitBtn" value="Submit" class="btn btn-primary btn-lg" />
                    <input type="submit" id="submitBtn" value="Back" class="btn btn-danger btn-lg" />
                </div>
            </div>
        </div>
    </form>
</div>


<!-- PAGE LEVEL SCRIPTS -->
<script src="/js/formValidations/newChapterForm.js"></script>
<script src="/js/formValidations/BackEndURLs.js"></script>
<script>
    //    $("#chapterObjectivePlus").click(addNewChapterObjective());
    $(function () {
        var courseID = {{courseID}};
        checkChapterData(URLs.isChapterFound(courseID));
    });
</script>
<!--END PAGE LEVEL SCRIPTS -->