

<div class="inner">
    <div class="row">
        <div class="col-lg-12">
            <h1> You can retrieve your Password </h1>
        </div>
    </div>
    <hr />

    <div id="login" class="tab-pane active">
        <form action="/register" method="post" class="form-signin">

            <div class="form-group row" id="main_userNameDiv">
                <label class="control-label col-lg-6 col-lg-offset-3 has-success text-center">Enter your Username and Email</label>
            </div>

            <div class="form-group row" id="main_userNameDiv">
                <label class="control-label col-lg-2 col-lg-offset-3 text-center">User name </label>

                <div class="col-lg-3">
                    <input type="text" id="userName" name="userName" placeholder="Enter your User name" class="form-control" />

                </div>
            </div>

            <!-- Password Field -->
            <div class="form-group row">
                <label class="control-label col-lg-2 col-lg-offset-3 text-center">Email </label>

                <div class="col-lg-3">
                    <input type="password" id="password" name="password" placeholder="Enter your Password" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="form-actions" style="text-align:center">
                        <a class="btn text-muted text-center btn-metis-1" href="/forgetPassword"> Forget Your Password</a>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="form-actions" style="text-align:center">
                        <input type="submit" id="submitBtn" value="Login" class="btn btn-primary btn-md" />
                        <a class="btn text-muted text-center btn-metis-4" href="/register"> Sign Up</a>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!--<div class="text-center">-->
    <!--<ul class="list-inline">-->
    <!--<li><a class="text-muted btn btn-primary btn-md" href="/login" data-toggle="tab">Login</a></li>-->
    <!--</ul>-->
    <!--</div>-->
</div>
