<br />
<br />
<br />
<br />
<br />
<br />

<div class="col-lg-6 col-lg-offset-3 text-center">
    <div class="logo">
        <h1 class="text-danger">Error {{status}} !</h1>
    </div>
    <p class="lead text-muted">{{name}}: {{message}}</p>

    <div class="clearfix"></div>

    <div class="col-lg-4  col-lg-offset-4">
        <div class="btn-group btn-group-justified">
            <a href="{{baseURL}}" class="btn btn-success">Back</a>
        </div>
    </div>
</div>